<form action="<%= formAction %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="text" name="title" value="<%= book.title %>" placeholder= "book name">
  <button type='submit'>Delete Book</button>
</form>