<!DOCTYPE html>
<html>
  <head>
      <link href="css/base.css" rel="stylesheet" type="text/css">
    <title>Google Books App</title>
  </head>
  <body>
    <main>
      <h3>There was an error</h3>
      <p><%= err %></p>
    </main>
  </body>
</html>