<!DOCTYPE html>
<html>
  <head>
      <link href="css/base.css" rel="stylesheet" type="text/css">
    <title>Google Books App</title>
  </head>
  <body>
    <main>
      <h3>Search by Title or Author</h3>
      <form action="searches" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>
      </form>
    </main>
  </body>
</html>