<% include ../partials/header.ejs %>
  <body>
    <main>
      <h3>Books</h3>
      <h4><%= results.rowCount %> Saved Books</h4>
      <% results.rows.forEach((book) => { %>
        <%- include('./books/show', {book}); %>
      <% }); %>
    </main>
  </body>
</html>