<% include ../partials/header.ejs %>
  <body>
    <main>
      <h3>Results of your search:</h3>
      <div class="container">
        <% mapResults.forEach((book) => { %>
          <div class="eachBook">
            <img src="<%= book.imgLink %>">
            <%= book.title %><br />
            <%= book.authors %><br />
            <%= book.description %>
          </div> 
        <% }) %>
      </div>   
    </main>
  </body>
</html>